.MeetingCreator {
  display: flex;
  text-align: center;
}

.MeetingCreator .picker {
  border: 1px solid #ddd;
  background: #FDFDFD;
  margin: 5px;
}

.MeetingCreator .picker .text {
  font-weight: bold;
}
