.MeetingCreator .pickers {
  display: flex;
  text-align: center;
}

.MeetingCreator .picker {
  margin: 5px;
}

.MeetingCreator .durationPicker {
  margin-left: 20px;
}

.MeetingCreator .text {
  font-weight: bold;
}

.MeetingCreator .close {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 16px;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
}

.MeetingCreator .formInput {
  width: 100%;
}

.MeetingCreator .timeSelector {
  margin-top: 20px;
}
