.MeetingCreator .pickers {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MeetingCreator .timePicker {
  margin-top: 12px;
  margin-bottom: 155px;
}

.MeetingCreator .text {
  font-weight: bold;
}

.MeetingCreator .close {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 16px;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
}

.MeetingCreator .formInput {
  width: 100%;
}

.MeetingCreator .timeSelector {
  margin-top: 20px;
}
