.MeetingsListItem {
  background-color: white;
  border-radius: 12px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
  color: #505050;
}

@media (min-width: 768px) {
  .MeetingsListItem {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .MeetingsListItem > div {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.MeetingsListItem .right-container {
  display: flex;
  flex-direction: column;
}

.MeetingsListItem .description {
  flex-basis: auto;
  flex-grow: 1;
}

.MeetingsListItem .buttons {
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .MeetingsListItem .buttons {
    text-align: left;
  }
}

.MeetingsListItem .btn {
  text-transform: uppercase;
  border: 1px solid #ff5334;
  border-radius: 12px;
  color: #ff5334;
  width: 140px;
  margin-bottom: 5px;
}

.MeetingsListItem .btn:hover,
.MeetingsListItem .btn:active,
.MeetingsListItem .btn:hover:active {
  background-color: #ff5334;
  color: #fff;
  border: 1px solid #ff5334;
}

.MeetingsListItem.joined .btn {
  border: 1px solid #5b98e8;
  color: #5b98e8;
}

.MeetingsListItem.joined .btn:hover,
.MeetingsListItem.joined .btn:active,
.MeetingsListItem.joined .btn:hover:active {
  background-color: #5b98e8;
  color: #fff;
  border: 1px solid #5b98e8;
}

.MeetingsListItem .title {
  color: #5a97e6;
  font-size: 20px;
  font-weight: 600;
}

.MeetingsListItem .details {
  border-left: 1px solid #000;
  margin: 5px 0 22px 0;
  padding: 2px 0 2px 9px;
}

.MeetingsListItem .attendees-count {
  margin-bottom: 7px;
}

.MeetingsListItem .going {
  color: #5794e1;
}

.MeetingsListItem .Attendees img {
  margin-right: 5px;
}

