.CanteenPanel {
  background-color: transparent;
  border-color: transparent;
}

.CanteenPanel .panel-heading {
  background-color: inherit;
  border: none;
  padding: 0;
}

.CanteenPanel .panel-collapse {
  padding-top: 15px;
}

.CanteenPanel .panel-body {
  background-color: white;
  border-radius: 12px;
  position: relative;
}

.CanteenPanel .arrow {
  position: absolute;
  left: 50%;
  top: -11px;
  width: 0;
  height: 0;
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  margin-left: -11px;
}
